
#addIcon, #removeIcon {
    float:right;
    color: #F1C653;
    font-size: 30px;
    margin-right:20px;  
}
.title {
    display:flex;
    align-items: center;
}

.app-list {
    height: 200px;
    overflow-y: scroll;

}
.parentList {
    margin-left:10px;
}

.main-items {
    font-size: 30px;
}

#apps {
    padding-left:50px;
}

.input {
    font-style: italic;
    width: 100%;
    border:none;
    outline: none;
    border-bottom: 2px solid #808080;
    background: #000000;
    color: #ffffff;
    width: 70%;
    margin-left:45px;
    font-size:20px;
}

.add {
    width: 100%;
    display:flex;
    color: #F1C653;
}

#checkicon {
    float: right;
}

#checkicon-inactive {
    color: #808080;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }