.channels-container {
    margin-top: 0;
}

.channel-list {
    height: 200px;
    overflow-y: scroll;
}

#channels {
    padding-left:50px;
}

.information {
    margin: 0 0 0 50px;
    font-size: 16px;
    font-style: italic;
    color: #808080;
}