.connection-menu{
    display: flex;
    flex-direction: column;
}

.connection {
    display: flex;
    flex-direction: column;
    height: 70%;
    align-items:center;
}

.setting {
    height: 30%;
}

#icon {
    float: left;
    color: #F1C653;
   font-size: 30px;
   margin-right: 10px;

}
#title {
    color: #F1C653;
    font-size: 25px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.information {
    margin: 0 0 0 50px;
    font-size: 16px;
    font-style: italic;
    color: #808080;
}