.messages-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.box {
    margin-top: auto;
}


.message-box {
    flex: 0 1 42px;
    width: 90%;
    background: #fff;
    margin: 2px auto;
    margin-bottom:20px;
    /*-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.4);*/
    /*background: rgba(0, 0, 0, 0.3);
      border-top:1px solid #e3e3e3;*/
    padding: 10px;
    position: relative;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  .message-box .message-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    /* color: rgba(255, 255, 255, .8);*/
    font-size: 18px;
    height: 24px;
    margin: 0;
    width: 90%;
    color: #444;
  }
  .message-box textarea:focus:-webkit-placeholder {
    color: transparent;
  }
  .message-box .message-submit {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 10px;
    color: #F1C653;
    border: none;
    /* background: #c29d5f; */
    background: #fff;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 5px;
    outline: none !important;
    transition: background 0.2s ease;
    cursor: pointer;
  }
  .message-box .message-submit:hover {
    background: #fff;
    color: #333;
  }