#addButton{
    font-family:"Open Sans", sans-serif ;
    margin-top:25px;
    background-color: #F1C653;
    width: 100%;
    font-size:25px;
    font-weight: bolder;
}

#addIcon {
    font-size: 26px;
}