@import url('https://fonts.googleapis.com/css?family=Open+Sans');



.content {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    margin:0;
  }
  
footer {
   margin-top:auto;
   width: 100vw;
  }
  



#remove {
    cursor: pointer;
    color: #F1C653;
    float: left;
    font-size: 50px;
    margin-right: 10px;
}

#remove:hover {
    cursor: pointer;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }

#remove-peer {
    width: 100%;
    border-bottom: 1px solid #aaa;
    padding-bottom:20px;
    margin-top: 20px;
    display: flex;
    font-size: 34px;
    animation: fadein 3.5s;
    -moz-animation: fadein 3.5s; /* Firefox */
    -webkit-animation: fadein 3.5s; /* Safari and Chrome */
    -o-animation: fadein 3.5s; /* Opera */
}

